@model primera_aplicacion.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>

    </head>
    <body>
        <div @*class="index"*@>
          <p>Index<br/>

                
            <h1> @Html.ActionLink("Autoproperty", "AutoProperty")</h1> 
              <h1> @Html.ActionLink("Createcollection ", "CreateCollection")</h1> 
              <h1> @Html.ActionLink("Useextension ", "UseExtension")</h1> 





            
        </div>
    </body>
</html>